html {
    background-color: var(--clr-primary-dark);
}

main {
    display: grid !important;
    position: absolute;
    height: calc(100vh - 3.5rem);
    bottom: 0;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem;
    padding-top: 0;
    background: var(--clr-primary-dark);
}