html {
    background-color: var(--clr-primary-dark);
}

main {
    display: grid !important;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    height: 92.5vh;
    height: 92.5dvh;
    margin-top: 7.5vh;
    padding: 1.5rem;
    background: var(--clr-primary-dark);
}