.nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-neutral);
    background-color: var(--clr-primary-dark);
}

.nav .nav-title {
    all: unset;
    box-sizing: border-box;
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    & .title {
        font-weight: bold;
        font-size: 1.2rem;
    }
    & .logo {
        width: 2.5rem;
        aspect-ratio: 1 / 1;
    }
}
