.nav {
    width: 100%;
    padding: 0 4rem;
    height: 7.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-neutral);
    background-color: var(--clr-primary-dark);
}

.nav .nav-title {
    all: unset;
    box-sizing: border-box;
    margin-left: 4rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    cursor: pointer;
    & .title {
        font-weight: 800;
        font-size: clamp(.5rem, .5rem + 2vh, 1.6rem);
    }
    & .logo {
        width: 5vh;
        height: 5vh;
    }
}
