.right-panel {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 0;
}

.panel-switcher {
    display: flex;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
    padding-left: 2rem;
}

.panel-switcher button {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: var(--clr-primary);
    color: var(--clr-neutral-muted);
    transition: all 0.2s ease-in-out;
    position: relative;
}

.panel-switcher button:hover {
    background-color: var(--clr-primary-light);
    color: var(--clr-neutral);
}

.panel-switcher button.active {
    background-color: var(--clr-primary-light);
    color: var(--clr-neutral);
    font-weight: bold;
    z-index: 3;
}

.content {
    background: var(--clr-primary-light);
    border-radius: 1rem;
    min-height: 0;
    height: 100%;
    position: relative;
    z-index: 2;
    margin-top: -1px;
}
