* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    user-select: none;
}

html {
    overflow-x: hidden;
}

.visually-hidden {
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

:root {
    --clr-primary-light: hsl(0, 8%, 88%);
    --clr-primary: #d8d1d1;
    --clr-secondary: #9e4145;
    --clr-accent: #619e83;
}