* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    user-select: none;
}

html {
    overflow-x: hidden;
}

.visually-hidden {
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}