* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: 
        system-ui, 
        -apple-system, 
        BlinkMacSystemFont, 
        'Segoe UI', 
        Roboto, 
        Oxygen, 
        Ubuntu, 
        Cantarell, 
        'Open Sans', 
        'Helvetica Neue', 
        sans-serif;
    background-color: var(--clr-secondary);
}

:root {
    --clr-primary-100: #d8d1d140;
    --clr-primary-200: #d8d1d1cc;
    --clr-primary: #d8d1d1;
    --clr-secondary: #9e4145;
    --clr-accent: #619e83;
}